@model List<MHGR.Models.DerivedPhenotype>
<ul class="phenotype-list">
    @foreach (var phenotype in Model)
    {
        <li class="phenotype">
            <a href="javascript:void(0);" onclick="displayDetails('@phenotype.Phenotype', '@phenotype.ResultFileId');">
                @phenotype.Phenotype - @phenotype.Value
            </a>
            <small>@phenotype.ResultedOn</small>
        </li>
    }
</ul>